<div>
  
  <img class="img" src="../assets/img/nube.jpg" alt="">  
    
    <div class="nav">
          
      <button mat-button>
          <a routerLink="/login" routerLinkActive="active">login</a>
      </button>
          
      <button mat-button>Click me!</button>
      <button mat-button>Click me!</button>

    </div>
  
    <div class="art">
      <h1>content</h1>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore, alias.</p>
    </div>
  
</div>
  
    <div class="container">
  
        <div class="art2">
          <h1>content</h1>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore, alias.</p>
        </div>
          
        <div class="cards">
  
            <mat-card class="card1">
              <img class="img-card" mat-card-image src="../assets/img/cuadro.jpg">
              <mat-card-content>
                <p>
                  The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                  A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                  bred for hunting.
                </p>
              </mat-card-content>
            </mat-card>
  
            <mat-card class="card1">
              <img mat-card-image src="../assets/img/cuadro.jpg" alt="Photo of a Shiba Inu">
              <mat-card-content>
                <p>
                  The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                  A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                  bred for hunting.
                </p>
              </mat-card-content>
            </mat-card>
  
            <mat-card class="card1">
              <img mat-card-image src="../assets/img/cuadro.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </mat-card-content>
              </mat-card>
  
              <mat-card class="card1">
                <img mat-card-image src="../assets/img/cuadro.jpg"/>
                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </mat-card-content>
              </mat-card>
        </div>
          
  </div>
  
  <div>
    <div class="container1">
  
      <img class="img" src="../assets/img/fondo 2.jpg" alt="">
  
      <div class="art3">
        <h1>content</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore, alias.</p>
      </div>
        
      <div class="cards2">
  
          <mat-card class="card2">
              <mat-card-header>
                  <mat-card-title>Shiba Inu</mat-card-title>
                  <mat-card-subtitle>Dog Breed</mat-card-subtitle>
              </mat-card-header>
              
              <mat-card-content>
                  <p>
                      Lorem ipsum, dolor sit amet consectetur adipisicing
                      elit. Dolores dolorem ratione omnis porro quo sed 
                      dignissimos molestiae eius aspernatur facere quisquam 
                      suscipit, exercitationem ut, dolor accusamus, mollitia
                        architecto rerum id perferendis ea doloribus! Repudiandae
                        fugiat architecto perspiciatis adipisci aliquid ab accusantium 
                        reprehenderit eaque impedit! Nulla eos iusto architecto molestiae.
                          Est alias aspernatur qui explicabo, dolorum consequuntur consequatur 
                          quidem blanditiis ex eligendi maiores autem mollitia facilis nobis hic 
                          quae, accusantium id deserunt aliquid harum libero non minus? Officiis 
                          perspiciatis ex voluptatem, delectus libero labore quisquam itaque sapiente? 
                          A dolor alias adipisci quod ullam at dolorum, suscipit perspiciatis quasi quaerat rem laboriosam.
                    </p>
              </mat-card-content>
            </mat-card>
  
          <mat-card class="card2">
                <mat-card-header>
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>
                
                <mat-card-content>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing
                        elit. Dolores dolorem ratione omnis porro quo sed 
                        dignissimos molestiae eius aspernatur facere quisquam 
                        suscipit, exercitationem ut, dolor accusamus, mollitia
                          architecto rerum id perferendis ea doloribus! Repudiandae
                          fugiat architecto perspiciatis adipisci aliquid ab accusantium 
                          reprehenderit eaque impedit! Nulla eos iusto architecto molestiae.
                            Est alias aspernatur qui explicabo, dolorum consequuntur consequatur 
                            quidem blanditiis ex eligendi maiores autem mollitia facilis nobis hic 
                            quae, accusantium id deserunt aliquid harum libero non minus? Officiis 
                            perspiciatis ex voluptatem, delectus libero labore quisquam itaque sapiente? 
                            A dolor alias adipisci quod ullam at dolorum, suscipit perspiciatis quasi quaerat rem laboriosam.
                      </p>
                </mat-card-content>
            </mat-card>
  
          <mat-card class="card2">
                  <mat-card-header>
                      <mat-card-title>Shiba Inu</mat-card-title>
                      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                  </mat-card-header>
                  
                  <mat-card-content>
                    <p>
                      Lorem ipsum, dolor sit amet consectetur adipisicing
                      elit. Dolores dolorem ratione omnis porro quo sed 
                      dignissimos molestiae eius aspernatur facere quisquam 
                      suscipit, exercitationem ut, dolor accusamus, mollitia
                        architecto rerum id perferendis ea doloribus! Repudiandae
                        fugiat architecto perspiciatis adipisci aliquid ab accusantium 
                        reprehenderit eaque impedit! Nulla eos iusto architecto molestiae.
                          Est alias aspernatur qui explicabo, dolorum consequuntur consequatur 
                          quidem blanditiis ex eligendi maiores autem mollitia facilis nobis hic 
                          quae, accusantium id deserunt aliquid harum libero non minus? Officiis 
                          perspiciatis ex voluptatem, delectus libero labore quisquam itaque sapiente? 
                          A dolor alias adipisci quod ullam at dolorum, suscipit perspiciatis quasi quaerat rem laboriosam.
                    </p>
                  </mat-card-content>
            </mat-card>
    </div>
        
  
  
  
  </div>
   <div class="footer">
  
  
   </div>